{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}


<div id="particles-js" class="fullscreen_bg"/>
<div id="connexion">

  <form class="form-signin" method="post">
    <h1 class="form-signin-heading text-muted">Cite Service</h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <input type="text" name="username" class="form-control" placeholder="adresse email ou pseudo" required="true" autofocus="" value="{{ last_username }}">
    <input type="password" name="password" class="form-control" placeholder="Mot de passe" required="true">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Connecter
    </button>
    <a class="link" href="/"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
 Revenir à la page d'accueil</a>
  </form>

</div>
</div>

<script src="{{ asset('assets/js/particles.js') }}" type="text/javascript"></script>
<script src="{{ asset('assets/js/app.js') }}" type="text/javascript"></script>
{% endblock %}
